body {
  background-color: black;
}

hr {
  border-style: dotted none none;
  border-color: #FF5403;
  border-width: 15px;
  height: 0;
  width: 35%;
}

img {
  height: 200px;
}

h1 {
  color: white;
}

h3 {
  color: 		white;
}

p {
  color: white;
}

li {
  color: white;
}
