body {
  background-color: #000000;
  margin: 0;
  text-align: center;
}
/*it is best practice to put the properties in alphabetical order*/
hr {
  border-style: dotted none none;
  border-color: #FF5403;
  border-width: 15px;
  height: 0;
  width: 4%;
}



img {
  height: 200px;
  border-radius: 10%;
}

h1 {
  color: white;
}

h3 {
  color: 		white;
}

p {
  color: white;
}

li {
  color: white;
}

label {
  color: white;
}

.bottom-container {
  background-color: #EB1D36;
  border: solid 10px;
  height: 200px;
  margin-left: 500px;
  width: 200px;
}

.main-container {
  background-color: #000000;
}

.middle-container {
  background-color: #000000;
  border: solid 20px;
  height: 200px;
  margin-left: 260px;
  width: 200px;
}

.top-container {
  background-color: #00D7FF;
  border: solid 10px;
  height: 200px;
  padding: 20px;
  width: 200px;

}

.profileimg {
  border-radius: 100%;
}
